/**
 * This CSS file is not processed by the Modules plugin in any way.
 * 
 * You can however include it in your build process.
 * Storing assets directly in the module directories helps keeping
 * everything, well, modular.
 */

.text {
	margin: 0 auto;
}

.text--width-small {
	max-width: 70rem;
}
.text--width-medium {
	max-width: 95rem;
}
.text--width-large {
	max-width: 120rem;
}

.text--fontsize-default {
	font-size: 1rem;
}
.text--fontsize-intro {
	font-size: 1.5rem;
}
